.font {
  font-family: 'Mulish', sans-serif;
  
}

.opacity img {
  opacity: 0.55;
}



html::-webkit-scrollbar {
  width: 0.75vw;
  height: 0.1vh;
}

html::-webkit-scrollbar-thumb {
  background-color: #333;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555
}
